{% extends 'layout.njk' %}

{% block content %}
      <br><br>
      <div class="row">
          <div class="col">
            <table class="table" >
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Tipo</th>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th></th>
                </tr>
              </thead>

              <tbody id="tableBody">

                

              </tbody>
            </table>
          </div>
        </div>
    </div>
{% endblock content %}
